body, html {
    margin: 0;
    padding: 0;
}

/* Set width and height of the outer square */
.outer-square {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

/* Style for inner squares */
.inner-square {
    width: 100%;
    height: 100%;
    background-color: green;
    box-sizing: border-box;
    
}

/* Style for inner circles */
.inner-circle {
    width: 100%;
    height: 100%;
    background-color: blue;
    border-radius: 50%;
    box-sizing: border-box;
  
}